[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-bcrypt = "*"
peewee = "*"
peewee-migrations = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
